<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link  href = "../../static/css/bootstrap.css" rel = "stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../static/css/custom.css" rel="stylesheet">

    <title>Title</title>
</head>
<body>
<section class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img class="img-center" src="../../static/img/logo.png" alt="logo" />
                    <form role="form">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control input-lg" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-search glyphicon-lg"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
<script src = "../../static/js/bootstrap.js"></script>

</html>